:root{
	--timerRad: 0;
}
body{
	text-align: justify;
	font-family: "Times New Roman", Times, serif;

}
.coverPic{
	height: calc(100vh - 56px);
	background-image: url("assets/coverPic.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-flex;
}

.widthFull{
	width: 100%;
}

.socialMediaIcons{
	justify-content: flex-end;
}

.heightFull{
	height: 100%;
}

.titleBox{
	width: 64%;
	background-color: #00000033;
	display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.width36{
	width: 36%;
}

.timerBox{
	background-color: #0000001a;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.titleText{
    align-self: center;
}

.timer{
	align-self: flex-start;
	margin-top: 200%;
	height: 20%;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.time{
	align-self: center;
	color: white;
	display: flex;

}
.days{
	background-color: #90323Dbf;

}
.hours{
	background-color: #d9cab3bf;

}
.minutes{
	background-color: #bc8034bf;

}
.sec{
	background-color: #8c7a6bbf;
}
.info{
	background-color: #aa8d7f;
	background-image: url("assets/wave.svg");
	background-repeat-y: no-repeat;
	background-position-y: bottom;
}

@media only screen and (min-width: 720px) {
	.flexInline{
	display: inline-flex;
	}

	.add{
	text-align: right;
	}


	.contactInner{
		display: inline-flex;
		width: 100%;
	}

	.timer{
		margin-top: 40% !important;
	}

}

.about{

	background: #AEBDCA;
	min-height: 100vh;
}

.overlayAbout{
	background-color: #00000033;
	height: 100%;
}

.overlayArch{
	background-color: #00000033;
	min-height: 100vh;
}

.padding15{
	padding: 15px;
	padding-bottom: 0;
}

.contact{
	color: #e8e4c9;
/*	display: inline-flex;*/
/*	flex-direction: row;*/
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.padding40{
	padding: 40px;
}

.faq{

	background: #AEBDCA;
	min-height: 100vh;
}
.reg{
	position: absolute;
    top: 25%;
}
.linkBox{
	position: absolute;
    bottom: 45px;
}
.btn-primary{
	background-color: #8c7a6b;
	border-color: #8c7a6b;
}
.btn-primary:hover{
	background-color: #7d6d5f;
	border-color: #7d6d5f;
}

