:root{
	--timerRad: 0;
}
.coverPic{
	height: calc(100vh - 56px);
	background-image: url("assets/coverPic.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-flex;
}

.widthFull{
	width: 100%;
}

.socialMediaIcons{
	justify-content: flex-end;
}

.heightFull{
	height: 100%;
}

.titleBox{
	width: 67%;
	background-color: #00000033;
	display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.width33{
	width: 33%;
}

.timerBox{
	background-color: #0000001a;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.titleText{
    align-self: center;
}

.timer{
	align-self: center;
	height: 20%;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.time{
	align-self: center;
	color: white;
	display: flex;

}
.days{
	background-color: #90323D99;

}
.hours{
	background-color: #d9cab399;

}
.minutes{
	background-color: #bc803499;

}
.sec{
	background-color: #8c7a6b99;
}
.info{
	background-color: #aa8d7f;
	background-image: url("assets/wave.svg");
	background-repeat-y: no-repeat;
	background-position-y: bottom;
}

@media only screen and (min-width: 720px) {
	.flexInline{
	display: inline-flex;
	}
}

.about{
	background-image: url("assets/coverPic.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
/*	height: 100vh;*/
	background-color: #00000033;
}

.overlayAbout{
	background-color: #00000033;
	height: 100%;
}

.padding15{
	padding: 15px;
	padding-bottom: 0;
}

.vc::before {    
      content: "";
      background-image: url(assets/scroll.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 40%;
}

.archiveImg{
	height: 300px;
	padding: 10px;
	border: solid 2px white;
}

.archive{
	background-image: url("assets/coverPic.jpg");
	background-repeat: repeat;
	background-position: center;
	background-color: #00000033;
}

